<h1>Parsing Exceptions</h1>

<table>
  <tr>
    <th>Exception</th>
    <th>Input String</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @parse_exceptions.each do |parse_exception| %>
  <tr>
    <td><%= parse_exception.exception_type %></td>
    <td><%= parse_exception.input_string %></td>
    <td><%= link_to 'Resolve', edit_parse_exception_path(parse_exception) %></td>
    <td><%= link_to 'Destroy', parse_exception, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />