<%= render :partial => 'layouts/html_header' %>
<%= render :partial => 'layouts/site_header' %>

<div id="container">

  <!-- This page, baked fresh at <%= Time.now %> -->
  <%= render :partial => 'errors/flash', :locals => { :flash=> flash } if flash %>
  <div id="page"><%= @content_for_layout %></div>

</div>
<%= @content_for_right %>

<%= render :partial => 'layouts/site_footer' %>