jFlash/xFlash.xcodeproj/xcuserdata/
jFlash/xFlash.xcodeproj/project.xcworkspace/
GraphicAssets/
*.pyc
jFlash/Server/lweflash/lweflash.xcodeproj/Ross.*

## Rack Gem Noise
importer/rack/ruby/*
importer/Gemfile.lock

## Log folder where to put the log for running ctedilib tasks
importer/result-log/*

## MacOSX Noise
.DS_Store
jFlash/Classes/External/sqlite/sqlite3/sqlite3.xcodeproj/project.xcworkspace
jFlash/Classes/External/sqlite/sqlite3/sqlite3.xcodeproj/xcuserdata

## stuff we don't want from Android Jflash
android/assets
android/.classpath
android/.project
android/bin
android/gen
android/workfiles
backup
*.swp
