[submodule "jFlash/Classes/External/FMDB"]
	path = jFlash/Classes/External/FMDB
	url = http://github.com/ccgus/fmdb.git
[submodule "jFlash/Server/lweflash/lib/gaesessions"]
	path = jFlash/Server/lweflash/lib/gaesessions
	url = https://github.com/dound/gae-sessions.git
[submodule "jFlash/Classes/Reusable/LWE"]
	path = jFlash/Classes/Reusable/LWE
	url = git@github.com:LongWeekend/Long-Weekend-Dev-Tools.git
[submodule "jFlash/Classes/External/asi-http-request"]
	path = jFlash/Classes/External/asi-http-request
	url = git://github.com/pokeb/asi-http-request.git
[submodule "jFlash/Classes/External/janrain"]
	path = jFlash/Classes/External/janrain
	url = git@github.com:LongWeekend/engage.iphone.git
[submodule "jFlash/Classes/External/DSActivityView"]
	path = jFlash/Classes/External/DSActivityView
	url = git@github.com:rsharrott/DSActivityView.git
[submodule "jFlash/Classes/External/TTTAttributedLabel"]
	path = jFlash/Classes/External/TTTAttributedLabel
	url = git@github.com:LongWeekend/TTTAttributedLabel.git
[submodule "jFlash/Classes/Reusable/rikaikit"]
	path = jFlash/Classes/Reusable/rikaikit
	url = git@github.com:LongWeekend/Rikai-Kit.git
