[submodule "jFlash/Classes/External/FMDB"]
	path = jFlash/Classes/External/FMDB
	url = http://github.com/ccgus/fmdb.git
[submodule "jFlash/Classes/External/janrain"]
	path = jFlash/Classes/External/janrain
	url = git://github.com/janrain/engage.iphone.git
[submodule "jFlash/Server/lweflash/lib/gaesessions"]
	path = jFlash/Server/lweflash/lib/gaesessions
	url = https://github.com/dound/gae-sessions.git
