jFlash/jFlash.xcodeproj/xcuserdata/
jFlash/jFlash.xcodeproj/project.xcworkspace/
jFlash/build
GraphicAssets/
*.pyc
jFlash/Server/lweflash/lweflash.xcodeproj/Ross.*

## Rack Gem Noise
importer/rack/ruby/*
importer/Gemfile.lock

## MacOSX Noise
.DS_Store
jFlash/Classes/External/sqlite/sqlite3/sqlite3.xcodeproj/project.xcworkspace
jFlash/Classes/External/sqlite/sqlite3/sqlite3.xcodeproj/xcuserdata
