<h1>No Match / Multiple Match Tag Entries</h1>

<table>
  <tr>
    <th>Unmatched Entry</th>
    <th>Choices</th>
    <th></th>
    <th></th>
  </tr>

<% @tag_matching_exceptions.each do |tag_matching_exception| %>
  <tr>
    <td><%= tag_matching_exception.human_readable %></td>
    <td>
    <%=
    if tag_matching_exception.tag_matching_resolution_choices.count > 0
      collection_select(:tag_matching_resolution, :create, tag_matching_exception.tag_matching_resolution_choices, :id, :human_readable_trimmed, :prompt => true)
    end
    %>
    </td>
    <td><%= link_to 'Ignore', tag_matching_exception, :confirm => 'Are you sure?', :method => :ignore %></td>
    <td><%= link_to 'Destroy', tag_matching_exception, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
