<%= content_tag 'div', h(flash[:notice]), :class => 'flash notice' if flash[:notice] %>
<%= content_tag 'div', h(flash[:error]), :class => 'flash notice error' if flash[:error] %>
<%= content_tag 'div', h(flash[:bad_reply]), :class => 'flash badreply' if flash[:bad_reply] %>
