body{ margin:10px; padding:5px; line-height:19px; font-size:16px; text-align:left; background-color: transparent; font-family:Helvetica,sanserif;}
img {display:block; clear:both; margin:auto;} 
img.screenshot { margin-top:8px; margin-bottom:12px; margin:auto; }
img.title{ margin-bottom:9px; margin:auto; }
.screenshot { border:1px solid black; }
a, a:visited { color:#834320; font-weight:bold;}
div.info {min-height:350px; text-align:left;}
p { margin:9px 0 9px 0;}
#tags_definitions { font-size:13px; border:1px solid darkslategray; cell-collapse:true; border-spacing: 2px 2px;}
small { font-size:11px; color:darkslategray;}