<% html = capture do %><%= render :partial => "form", :locals => { :url => question_index_path(), :caption => 'Start a New Topic'[:title_create_topic] } %><% end %>
<%= render :partial => 'layouts/tiddler', :locals => { :html => html } %>