<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Plugins</key>
	<array>
		<dict>
			<key>plugin_key</key>
			<string>FTS_DB</string>
			<key>plugin_version</key>
			<string>1.1</string>
			<key>plugin_name</key>
			<string>Awesomely Fast Search v1.1</string>
			<key>plugin_details</key>
			<string>Adds sub-second full dictionary search (12MB)</string>
			<key>plugin_notes_dir</key>
			<string>plugin-resources</string>
			<key>plugin_notes_file</key>
			<string>full-text-search</string>
			<key>plugin_target_url</key>
			<string>https://d3580k8bnen6up.cloudfront.net/jFlash-FTS-1.1.db.gz</string>
			<key>plugin_target_path</key>
			<string>jFlash-FTS-1.1.db</string>
			<key>plugin_file_name</key>
			<string>jFlash-FTS-1.1.db</string>
		</dict>
		<dict>
			<key>plugin_key</key>
			<string>EX_DB</string>
			<key>plugin_version</key>
			<string>1.2</string>
			<key>plugin_name</key>
			<string>Fifty Thousand Examples v1.2</string>
			<key>plugin_details</key>
			<string>Adds sentences to practice screen (17MB)</string>
			<key>plugin_notes_dir</key>
			<string>plugin-resources</string>
			<key>plugin_notes_file</key>
			<string>example-sentences</string>
			<key>plugin_target_url</key>
			<string>https://d3580k8bnen6up.cloudfront.net/jFlash-EX-1.2.db.gz</string>
			<key>plugin_target_path</key>
			<string>jFlash-EX-1.2.db</string>
			<key>plugin_file_name</key>
			<string>jFlash-EX-1.2.db</string>
		</dict>
	</array>
</dict>
</plist>
