<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CARD_DB</key>
	<dict>
		<key>pluginType</key>
		<string>database</string>
		<key>details</key>
		<string>Core Cards</string>
		<key>filePath</key>
		<string>cFlash-CARD-1.0.db</string>
		<key>pluginId</key>
		<string>CARD_DB</string>
		<key>name</key>
		<string>Chinese Flash Cards</string>
		<key>version</key>
		<string>1.0</string>
		<key>fileLocation</key>
		<integer>0</integer>
		<key>comment</key>
		<string>fileLocation values: 0 = Bundle, 1 = Library, 2 = Documents</string>
	</dict>
</dict>
</plist>
