<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CARD_DB</key>
	<dict>
		<key>pluginId</key>
		<string>CARD_DB</string>
		<key>version</key>
		<string>1.1</string>
		<key>name</key>
		<string>Japanese Flash Cards</string>
		<key>details</key>
		<string>Core Cards</string>
		<key>pluginType</key>
		<string>database</string>
		<key>filePath</key>
		<string>jFlash-CARD-1.1.db</string>
		<key>fileLocation</key>
		<integer>0</integer>
	</dict>
	<key>FTS_DB</key>
	<dict>
		<key>pluginId</key>
		<string>FTS_DB</string>
		<key>version</key>
		<string>1.1</string>
		<key>name</key>
		<string>Awesomely Fast Search v1.1</string>
		<key>details</key>
		<string>Adds sub-second full dictionary search</string>
		<key>pluginType</key>
		<string>database</string>
		<key>filePath</key>
		<string>jFlash-FTS-1.1.db</string>
		<key>fileLocation</key>
		<integer>0</integer>
	</dict>
	<key>EX_DB</key>
	<dict>
		<key>pluginId</key>
		<string>EX_DB</string>
		<key>version</key>
		<string>1.2</string>
		<key>name</key>
		<string>Fifty Thousand Examples v1.2</string>
		<key>details</key>
		<string>Adds sentences to practice screen</string>
		<key>pluginType</key>
		<string>database</string>
		<key>filePath</key>
		<string>jFlash-EX-1.2.db</string>
		<key>fileLocation</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
