<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Plugins</key>
	<array>
		<dict>
			<key>fileLocation</key>
			<integer>2</integer>
			<key>comment</key>
			<string>fileLocation values: 0 = Bundle, 1 = Library, 2 = Documents</string>
			<key>htmlString</key>
			<string>&lt;!DOCTYPE html PUBLIC &apos;-//W3C//DTD XHTML 1.0 Transitional//EN&apos; &apos;http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd&apos;&gt;
&lt;html&gt;&lt;head&gt;
  &lt;meta http-equiv=&apos;Content-Type&apos; content=&apos;text/html; charset=utf-8&apos; /&gt;
  &lt;link href=&quot;plugins.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;
  &lt;link rel=&quot;stylesheet&quot; media=&quot;only screen and (-webkit-min-device-pixel-ratio: 2)&quot; type=&quot;text/css&quot; href=&quot;plugins_retina.css&quot; /&gt;
&lt;/head&gt;
&lt;body style=&quot;background-color:transparent;&quot;&gt;

&lt;img src=&quot;fast-search@2x.png&quot; border=&quot;0&quot; width=&quot;290&quot; class=&quot;title retina&quot;/&gt;
&lt;div class=&quot;subtitle&quot;&gt;&lt;small&gt;Version 1.1, 12.1MB&lt;br/&gt;
WiFi: 2 min / 3G: 12+ mins (approx)&lt;/small&gt;&lt;/div&gt;
&lt;div id=&quot;release-notes&quot;&gt;
&lt;p&gt;
Japanese Flash is more than just a flash card program.  When you download &amp;amp; install this update, it&apos;s also a blazingly fast dictionary that can search 150,000 entries in less than a second.
&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Press &amp;quot;Start Download&amp;quot; to begin updating.&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;You&apos;ll need a network connection for the download. &lt;strong&gt;We strongly recommend using a WiFi connection.&lt;/strong&gt;
You can get the update via your mobile network (3G), however it takes a while due to download speed limits.
&lt;/p&gt;
&lt;h3&gt;Here&apos;s how it works&lt;/h3&gt;
&lt;p&gt;
After installation: tap the &amp;quot;Search&amp;quot; icon at the bottom of the screen from the main screen (you probably already figured that out - that&apos;s how you got here!).
Type a word in Japanese (kanji, romaji, or hiragana is OK!) or English, press &amp;quot;Search&amp;quot;, and look at the results.
&lt;/p&gt;
&lt;p&gt;
Once you&apos;ve found a particular result that is interesting, or you want to remember, tap the word to proceed to add it to a study set.  One common use of this feature is to create a study set for new words that you encounter &amp;quot;in the wild&amp;quot;.  Then, every time you search a new word in the dictionary, you can immediately add it to that study set for later review.
&lt;/p&gt;
&lt;h3&gt;Why do I have to download something?&lt;/h3&gt;
&lt;p&gt;
We separated the components (dictionary search, example sentences, etc) into downloadable updates to make it easier to deliver new data as it changes.&lt;/p&gt;
&lt;p&gt;
We all know language changes - so your iPhone study application needs to change with it. So if we receive reports of errors in the dictionary, we will be able to roll out changes to everyone automatically, without re-installing the application. Cool, right?
&lt;/p&gt;
&lt;p&gt;
That platform isn&apos;t quite ready yet - but we are working on it - and this change was a key step along the way.
&lt;/p&gt;
&lt;h3&gt;&lt;em style=&quot;color:red&quot;&gt;Enjoy the Awesomely fast search!&lt;/em&gt;&lt;/h3&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
			<key>pluginId</key>
			<string>FTS_DB</string>
			<key>version</key>
			<string>1.1</string>
			<key>pluginType</key>
			<string>database</string>
			<key>name</key>
			<string>Awesomely Fast Search v1.1</string>
			<key>details</key>
			<string>Adds sub-second full dictionary search (12MB)</string>
			<key>targetURL</key>
			<string>https://d3580k8bnen6up.cloudfront.net/jFlash-FTS-1.1.zip</string>
			<key>targetPath</key>
			<string>jFlash-FTS-1.1.zip</string>
			<key>filePath</key>
			<string>jFlash-FTS-1.1/jFlash-FTS-1.1.db</string>
		</dict>
		<dict>
			<key>comment</key>
			<string>fileLocation values: 0 = Bundle, 1 = Library, 2 = Documents</string>
			<key>fileLocation</key>
			<integer>2</integer>
			<key>htmlString</key>
			<string>&lt;!DOCTYPE html PUBLIC &apos;-//W3C//DTD XHTML 1.0 Transitional//EN&apos; &apos;http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd&apos;&gt;
&lt;html&gt;&lt;head&gt;
  &lt;meta http-equiv=&apos;Content-Type&apos; content=&apos;text/html; charset=utf-8&apos; /&gt;
  &lt;link href=&quot;plugins.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;
  &lt;link rel=&quot;stylesheet&quot; media=&quot;only screen and (-webkit-min-device-pixel-ratio: 2)&quot; type=&quot;text/css&quot; href=&quot;plugins_retina.css&quot; /&gt;
&lt;/head&gt;
&lt;body style=&quot;background-color:transparent;&quot;&gt;
&lt;img src=&quot;example-sentences@2x.png&quot; border=&quot;0&quot; width=&quot;290&quot; class=&quot;title retina&quot;/&gt;
&lt;div class=&quot;subtitle&quot;&gt;&lt;small&gt;Version 1.2, 17MB&lt;br/&gt;
WiFi: 3 mins / 3G: 15+ mins (approx)&lt;/small&gt;&lt;/div&gt;
&lt;div id=&quot;release-notes&quot;&gt;
&lt;h3&gt;&lt;em style=&quot;color:red;line-height:16px;&quot;&gt;New in 1.2:&lt;br/&gt;Words are cross-referenced!&lt;/em&gt;&lt;/h3&gt;
&lt;p&gt;
We heard you loud and clear. Since the first release of Japanese Flash, more than anything else, users have asked for example sentences. We&apos;ve added 50,000 of them - integrated into Japanese Flash&apos;s existing study flow - and we think you&apos;ll find it Awesome.
&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Press &amp;quot;Start Download&amp;quot; to begin updating.&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;You&apos;ll need a network connection for the download. &lt;strong&gt;We strongly recommend using a WiFi connection.&lt;/strong&gt;
You can get the update via your mobile network (3G), however it takes a while due to download speed limits.
&lt;/p&gt;
&lt;h3&gt;Here&apos;s how it works&lt;/h3&gt;
&lt;p&gt;
When you&apos;re studying cards, swipe sideways to reveal example sentences. Not every card has example sentences, but over 17,000 of the most common do.
&lt;/p&gt;
&lt;p&gt;
Also, all of the example sentences are cross-referenced.  If you see a new word that you want to remember in an example sentence, tap the &lt;strong&gt;Readings&lt;/strong&gt; button to show all words in that sentence; you can then add them to your own study sets!
&lt;/p&gt;
&lt;!--p&gt;
We&apos;ve also indexed all of the key words in these example sentences to be searchable. After installing this update, you will be able to find example sentences as well using Search.
&lt;/p--&gt;
&lt;h3&gt;Why do I have to download something?&lt;/h3&gt;
&lt;p&gt;
You may be wondering why we&apos;re asking you to download this update separately from the application itself. That&apos;s a great question! Since you are Awesome (after all, you purchased Japanese Flash), we&apos;ll share our master plan.
&lt;/p&gt;
&lt;p&gt;
We separated the components (dictionary search, example sentences, etc) into updates to make it easier to deliver new data as it changes.&lt;/p&gt;
&lt;p&gt;
We all know language changes - so your iPhone study application needs to change with it. So if we receive reports of errors in the dictionary, we will be able to roll out changes to everyone automatically, without re-installing the application. Cool, right?
&lt;/p&gt;
&lt;p&gt;
That platform isn&apos;t quite ready yet - but we are working on it - and this change was a key step along the way.
&lt;/p&gt;
&lt;h3&gt;&lt;em style=&quot;color:red&quot;&gt;Enjoy studying with example sentences!&lt;/em&gt;&lt;/h3&gt;
&lt;/div&gt;

&lt;/body&gt;
&lt;/html&gt;</string>
			<key>pluginId</key>
			<string>EX_DB</string>
			<key>version</key>
			<string>1.2</string>
			<key>pluginType</key>
			<string>database</string>
			<key>name</key>
			<string>Fifty Thousand Examples v1.2</string>
			<key>details</key>
			<string>Adds sentences to practice screen (17MB)</string>
			<key>targetURL</key>
			<string>https://d3580k8bnen6up.cloudfront.net/jFlash-EX-1.2.zip</string>
			<key>targetPath</key>
			<string>jFlash-EX-1.2.zip</string>
			<key>filePath</key>
			<string>jFlash-EX-1.2/jFlash-EX-1.2.db</string>
		</dict>
	</array>
</dict>
</plist>
